* {
  box-sizing: border-box;
}

img {
  display: block;
}

li, ul {
  list-style-type: none;
  padding: 0;
}

/* 
.item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #F6F6FE;
  } */

.gallery {
  width: 1440px;
  height: 696px;
  padding: 24px 156px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  }

  .gallery-image {
    width: 360px;
    height: 200px;
  }